Exercise 2.Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3.Create a markdown cell for an introduction

### In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives__:

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools

Exercise 4 - Create a markdown cell to list data science languages

1.Python\
2.R\
3.SQL \
4.Julia \
5.Java \
6.scala\
7.C/C++\
8.JavaScript

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1.TensorFlow.\
2.NumPy.\
3.SciPy.\
4.Pandas.\
5.Matplotlib.\
6.Keras.\
7.SciKit-Learn.\
8.PyTorch.\
9.Scrapy.\
10.BeautifulSoup.

Exercise 6 - Create a markdown cell with a table of Data Science tools

|   Data Science Tools  |
| -------- |
|  Casandra | 
| Mangodb | 
|  spark   | 
|  Tensorflow   | 
|  Hue   |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

# Arithmetic operations

In [11]:
a = 10
b = 20
c = a+b
d = a-b
e = a*b
print("Addition value is",c)
print("Subtraction value is",d)
print("Multiplication value is",e)

Addition value is 30
Subtraction value is -10
Multiplication value is 200

Exercise 8 - Create a code cell to multiply and add numbers

 This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours
  - This will convert 200 minutes to hours by diving by 60

In [13]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes 200
Hours= 3
Minutes= 20

Exercise 11 - Create a markdown cell to indicate the Author's name 

## Authors

Lakshmi Holla

Niveditha Pandith

Exercise 10 -Insert a markdown cell to list Objectives.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.